/* ejercicio2a.css   ML19017 */
@charset "UTF-8";

pais {
	background-color: green;
	text-align: center;
	font-size: 1em;
	display: block
}

moneda {
	color: yellow;
}

codigo_area {
	color: yellow;
}

idiomas {
	color: yellow;
}

departamento {
	background-color: black;
	border: solid 1px;
	border-color: yellow;
	display: block;
	position: center;
}

cabecera {
	color: white;
	font-size: 1.2em;
	display: block;
} 

habitantes {
	color: yellow;
	display: block;
}

altura {
	color: yellow;
	display: block;
}