/* ejercicio1b.css   ML19017 */

fichero {
	background-color:gray;
	color:black;
	font-size:1em;
	display:block
}

ficha {
	background-color:white;
	padding:5px;
	display:block;
	border-bottom:solid gray 2px;
} 

nombre {
	font-size: 1.3em;
	display:block;
} 

apellido {
	font-size: 1.3em;
	display:block;
	margin-bottom:10px;
}

direccion {
	color:purple;
	display:block;
}

telefono {
	color:green;
	display:block;
	margin-bottom:10px;
}

email {
	color:blue;
	display:block;
}

website {
	color:blue;
	display:block;
	margin-bottom:10px;
}

dui {
	color:red;
	display:block;
}

isss {
	color:red;
	display:block;
}

afp {
	color:red;
	display:block;
}